<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="browsers" value="chrome" />
    <add key="url" value="https://bneuat1/" />
    <add key="ChromeDriverPath" value="C:\Dev\Trunk\Utilities\Selenium\Chrome" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="HangfireConnection" connectionString="Server=BNEUAT1\UAT,1472;Database=PayQuest;integrated security=True;" />
    <add name="UATConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PayQuest;Data Source=BNEUAT1\UAT,1472" />
    <add name="GenericConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PayQuest;Data Source=BNEUAT1\UAT,1472" />
    <add name="AxTraxConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AxTrax1;Data Source=BNEUAT1\UAT,1472" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>