<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="url" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="url" value="http://bneuat1/" xdt:Transform="Insert"/>
    <add key="ChromeDriverPath" value="C:\Dev\Trunk\Utilities\Selenium\Chrome" />
  </appSettings>
  <connectionStrings>
    <add name="HangfireConnection" connectionString="Server=BNEDATA8\DEVELOPMENT,1435;Database=YouOi;integrated security=True;" />
    <add name="UATConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=YouOi;Data Source=BNEUAT1\UAT,1472" />
    <add name="GenericConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=YouOi;Data Source=BNEDATA8\DEVELOPMENT,1435" />
    <add name="AxTraxConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AxTrax1;Data Source=BNEDATA5" />
  </connectionStrings>
</configuration>